//! **************************************************************************
// Written by: Map P.20131013 on Thu May 15 23:54:46 2014
//! **************************************************************************

SCHEMATIC START;
COMP "C_out" LOCATE = SITE "G1" LEVEL 1;
COMP "DECO_CLK" LOCATE = SITE "G12" LEVEL 1;
PIN DECO_CLK_pin<0> = BEL "DECO_CLK" PINNAME PAD;
PIN "DECO_CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "PC_CLK" LOCATE = SITE "M4" LEVEL 1;
COMP "REG_CLK" LOCATE = SITE "C11" LEVEL 1;
COMP "R7out<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "R7out<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "R7out<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "R7out<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "Reg_CLR" LOCATE = SITE "P11" LEVEL 1;
COMP "CLR_PC" LOCATE = SITE "L3" LEVEL 1;
NET "PC_CLK_BUFGP/IBUFG" BEL "PC_CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "DECO_CLK_BUFGP/IBUFG" BEL "DECO_CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

